{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <center>
<!--                <img src="{% static './myapp/images/contact_us.png' %}" width="600" height="300">-->
            </center>
            <h2 class="text-center mt-2" style="font-family:  Times New Roman;">Contact Us</h2>
            <p class="text-center large-text mt-4">Feel free to reach out to us using the following contact details:</p>

                <p class="text-center medium-text">Email: info@agroaid.com</p>
                <p class="text-center medium-text">Phone: +91 9867945376</p>
<!--                <p class="text-center">Address: 123 Main Street, City, Country</p>-->

        </div>
    </div>
</div>
<style>
    .large-text {
        font-size: 18px;
    }

    .medium-text {
        font-size: 18px;
    }
</style>

{% endblock %}
